<div class="row">  
  <div class="col-12 col-2"> 
    <div class="form-group form-inline">     
      <label>Seu nome:</label>
      <input type="text" class="form-control" [(ngModel)]="customerName">
      <h3 class="red">Hello {{customerName}}!</h3>
    </div>
    <br>
    <div class ="col-12 col-2">
      <button class="btn btn-success btn-circle" (click)="contador()">Contador</button>
      <h3 class="red">Voce clicou {{counter}} vezes!</h3>
    </div>
    <br>
    <button class="btn btn circle btn-info" (click)="onClickMe()">Click me!</button>
  </div>
</div> 
